@CHARSET "ISO-8859-1";

#leftSidebar {
	top: 100px;
	left: 15px;
	height: 650px;
	width: 0px;
	transition: width 1s ease;
	overflow: hidden;
	overflow-x: hidden;
}

#leftSidebar.in {
	width: 250px;
}

#leftSidebarButton {
	position: absolute;
	top: 100px;
	left: 0px;
	height: 650px;
	width: 15px;
	opacity: 0.8;
}

#leftSideButton:hover {
	opacity: 1;
	cursor: pointer;
}

ul.modelPopover li {				
	list-style: none;
	padding: 5px 10px;
}

ul.modelPopover li a {
	display: block;
	width: 100%;
	padding: 7px;
	text-align: center;
	font-weight: normal;
	color: inherit;
	text-decoration: none;
	border: 1px solid black;
	background-color: #FFFFFF;
}

ul.modelPopover li a:hover {
	background-color: #DFE3EE;
	cursor: pointer;
}

ul.modelPopover li:last-child {
	border: none;
}

ul.modelPopover li.submenuContainer {
	background-color: #F8F8F8;
}