.modal-dialog {
    width: 95vw;
}

.modal-body {
    height: 30vh;
    bottom: 0;
    overflow: scroll;
}

.mergePreview {
    position: relative;
    top: 0;
    height: 33vh;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.substage {
    position: absolute;
    height: 33vh;
    background: #FFFFFF;
    z-index: 1;
}

#modelAStage {
    width: 33vw;
    left: 0;
    border-right: 2px solid black;
}

#modelABStage {
    width: 34vw;
    left: 33vw;
}

#modelBStage {
    width: 33vw;
    right: 0;
    border-left: 2px solid black;
}

.leftModelName {
    position: absolute;
    left: 20px;
}

.rightModelName {
    position: absolute;
    right: 20px;
}

.mergeResHeader {
    padding-bottom: 30px;
    clear: both;
}

.overlapPane {
    height: 100px;
    border-width: 1px;
    border-top-style: solid;
    text-align: center;
}

.leftRes {
    float: left;
    width: 250px;
    text-align: left;
}

.rightRes {
    float: right;
    width: 250px;
    text-align: right;
}

.leftRes:hover, .rightRes:hover {
    background-color: #dfe3ee;
    cursor: pointer;
}

.modelVarName {
    font-style: italic;
}

.modelVarEquation {
    font-family: Courier, monospace;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.leftNode {
    position: absolute;
    left: 350px;
    top: 35px;
}

.rightNode {
    position: absolute;
    right: 350px;
    top: 35px;
}

.mergePreviewBtn {
	position: relative;
	display: inline-block;
    margin: 30px auto;
}

.radio label {
    padding-left: 0px;
}

.leftRes .mergeResRadio {
    position: absolute;
    left: 320px;
    top: 30px;
}

.rightRes .mergeResRadio {
    position: absolute;
    right: 300px;
    top: 30px;
}

#quitMergerBtn {
    float: left;
}

#resizeHandle {
    height: 8px;
    cursor: ns-resize;
    background-color: darkgrey;
}

.panel-title {
    font-size: 12px;
}

.expandBtn {

}

.ignoreRes {
    width: 250px;
    display: inline-block;
}

.ignoreLabel {
    padding-right: 90px;
    padding-top: 3px;
}

.radio+.radio {
    margin-top: 0px;
}