.modal-dialog {
    width: 90vw;
}

.modal-body {
    height: 75vh;
    overflow: scroll;
}

.substage {
    position: fixed;
    top: 0;
    bottom: 30px;
    z-index: 10;
    background: #FFFFFF;
}

#modelAStage {
    width: 33vw;
    left: 0;
    border-right: 2px solid black;
}

#modelABStage {
    width: 34vw;
    left: 33vw;
}

#modelBStage {
    width: 33vw;
    right: 0;
    border-left: 2px solid black;
}

.leftModelName {
    position: absolute;
    left: 20px;
}

.rightModelName {
    position: absolute;
    right: 20px;
}

.mergeResHeader {
    padding-bottom: 30px;
    clear: both;
}

.mergeResolution {
    height: 100px;
    border-width: 1px;
    border-top-style: solid;
    text-align: center;
}

.leftResolution {
    float: left;
    width: 250px;
    text-align: left;
}

.rightResolution {
    float: right;
    width: 250px;
    text-align: right;
}

.leftResolution:hover, .rightResolution:hover {
    background-color: #dfe3ee;
    cursor: pointer;
}

.freeText {
    font-style: italic;
}

.codeName {
    font-weight: bold;
}

.equation {
    font-family: Courier, monospace;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.leftNode {
    position: absolute;
    left: 350px;
    top: 35px;
}

.rightNode {
    position: absolute;
    right: 350px;
    top: 35px;
}

.mergePreviewBtn {
    display: inline-block;
    margin: 30px auto;
}

.radio label {
    padding-left: 0px;
}

.leftResolution .mergeResRadio {
    position: absolute;
    left: 320px;
    top: 30px;
}

.rightResolution .mergeResRadio {
    position: absolute;
    right: 300px;
    top: 30px;
}

#quitMergerBtn {
    float: left;
}

#backToMergeRes {
    z-index: 11;
    position: absolute;
    top: 5px;
    left: 5px;
}

#mergerDemoBtn {
    position: absolute;
    top: 5px;
    right: 5px;
}
