.modal-dialog {
    width: 95vw;
}

.modal-open .modal {
    overflow-y: hidden;
}

.mergePreview {
    position: relative;
    top: 0;
    height: 25vh;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.substage {
    position: absolute;
    height: 100%;
    background: #FFFFFF;
    z-index: 1;
}

#modelAStage {
    width: 50%;
    left: 0;
    border-right: 2px solid black;
}

#modelBStage {
    width: 50%;
    right: 0;
    border-left: 2px solid black;
}

.modal-body {
    height: 50vh;
    overflow: scroll;
}

.leftModelName {
    position: absolute;
    left: 20px;
}

.rightModelName {
    position: absolute;
    right: 20px;
}

.mergeResHeader {
    padding-bottom: 15px;
    clear: both;
}

#resizeHandle {
    height: 6px;
    cursor: ns-resize;
    background-color: black;
}

.overlapPane {
    height: 15px;
    text-align: center;
    cursor: context-menu;
}

.panel-title {
    font-size: 12px;
}

.panel-body {
    text-align: center;
}

.leftRes {
    float: left;
    width: 250px;
    text-align: left;
    margin-top: 0px;
}

.rightRes {
    float: right;
    width: 250px;
    text-align: right;
}

.ignoreRes {
    width: 250px;
    display: inline-block;
    margin-left: 65px;
}

.ignoreLabel {
    padding-right: 90px;
    padding-top: 3px;
}

.leftNode {
    position: absolute;
    left: 350px;
    top: 6px;
}

.rightNode {
    position: absolute;
    right: 350px;
    top: 6px;
}

.radio+.radio {
    margin-top: 0px;
}

.radio label {
    padding-left: 0px;
}

.leftRes .mergeResRadio {
    position: absolute;
    left: 320px;
    top: 0px;
}

.rightRes .mergeResRadio {
    position: absolute;
    right: 300px;
    top: 0px;
}

.ignoreRes .mergeResRadio {
    top: 0px;
    margin-left: 0px;
}

.leftCollapsePanel {
    width: 350px;
    float: left;
    text-align: left;
    display: inline-block;
    font-size: 11px;
}

.rightCollapsePanel {
    width: 350px;
    float: right;
    text-align: right;
    display: inline-block;
    font-size: 11px;
}

.collapsePanelLabel {
    font-weight: bold;
}

#quitMergerBtn {
    float: left;
}