@CHARSET "ISO-8859-1";

#rightSidebar {
	top: 100px;
	right: 5px;
}

#stagekey {
	font-size: 14px;
}

#stagekey ul {
	list-style: none;
	margin: 0 5px;
	padding: 0;
}

#stagekey  ul li {
	margin: 5px 0;
	font-weight: bold;
	padding-left: 1em;
    text-indent: -.7em;
}

#stagekey  ul li.canClick:hover {
	cursor: pointer;
}

#stagekey  ul.hiddenNodeKeys li {
	background-color: #D0D0D0;
	opacity: .5;
}

#stagekey  ul.hiddenLinkKeys li {
	background-color: #D0D0D0;
	opacity: .5;
}

#modes {
	margin-top: 10px;
}

#modes ul {
	list-style: none;
	padding: 0;
	margin: 0 0 0 5px;
}
