@CHARSET "ISO-8859-1";

#rightSidebar {
	top: 75px;
	right: 15px;
	height: 575px;
	width: 0px;
	transition: width 1s ease;
	overflow: auto;
}

#rightSidebar.in {
	width: 250px;
}

#rightSidebar>.panel-heading {
    padding: 5px 15px;
}

#rightSidebarButton {
	position: absolute;
	top: 75px;
	right: 0px;
	height: 575px;
	width: 15px;
	opacity: 0.8;
}

#rightSidebar .vertical-menu {
	height: 150px;
	overflow-y: auto;
	border-bottom-style: groove;
}

#rightSidebarButton:hover {
	opacity: 1;
	cursor: pointer;
}

#stagekey {
	font-size: 12px;
}

#stagekey .heading {
	font-size: 16px;
	font-weight: bold;
}

#stagekey .subheading {
	font-size: 14px;
	font-style: italic;
}

#stagekey ul {
	list-style: none;
	margin: 0 5px;
	padding: 0;
}

#stagekey  ul li {
	margin: 5px 0;
	font-weight: bold;
	padding-left: 1em;
    text-indent: -.7em;
}

#stagekey  ul li.canClick:hover {
	cursor: pointer;
}

#stagekey  ul.hiddenKeys li {
	background-color: #D0D0D0;
	opacity: .5;
}

#modes {
	margin-top: 10px;
}

#modes ul {
	list-style: none;
	padding: 0;
	margin: 0 0 0 5px;
}

#d3opts ul {
	padding-left: 80px;
}

#d3opts li {
	margin: 0 0 10px 0;
}

#d3opts input[type="checkbox"] {
	position: absolute;
	right: 50px;
}

#d3opts input[type="number"] {
	width: 50px;
	height: 20px;
	position: absolute;
	right: 10px;
}

#linklengthli {
	display: none;
}

#chargedistli {
	display: none;
}

#advancedVizParamsli {
	text-align: right;
}

#advancedVizParams {
	font-size: 10px;
	padding-right: 10px;
	color: #337ab7;
}

#advancedVizParams:hover {
	color: #23527c;
	text-decoration: underline;
}

#nodemenu {
	font-size: 12px;
}

#nodemenu > .panel-body {
	text-align: left;
	word-wrap: break-word;
}

.nodeInfoLabel {
	font-weight: bold;
}

.nodemenuRow pre {
	font-size: 10px;
}