
html, body, iframe {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	font-family: sans-serif;
}

#addModelButton {
	position: absolute;
	margin: 5px;
	width:25px;
	height:25px;
	top: 10px;
	left: 10px;
	padding-left: 1px;
	padding-top: 2px;
	line-height:25px;
	font-size: 15px;
	border: hidden;
	border-radius:250px;
	color:#ffffff;
	text-align:center;
	background:#3b5998;
	opacity: .8;
}

#addModelButton:hover {
	opacity: 1;
	cursor: pointer;
}

#saveButton {
	position: absolute;
	margin: 5px;
	width:25px;
	height:25px;
	top: 10px;
	left: 45px;
	padding-left: 1px;
	padding-top: 2px;
	line-height:25px;
	font-size: 15px;
	border: hidden;
	border-radius:250px;
	color:#ffffff;
	text-align:center;
	background:#3b5998;
	opacity: .8;
}

#saveButton:hover {
	opacity: 1;
	cursor: pointer;
}

#trash {
	margin: 5px;
	padding-left: 1px;
	padding-top: 15px;
	line-height:25px;
	font-size: 30px;
	border: 2px solid;
	border-radius: 5px;
	text-align:center;
	opacity: .8;
}

#saveButton:hover:enabled {
	opacity: 1;
	cursor: pointer;
}

.popover-title {
	font-size: 18px;
}

.popover-content ul {
	margin: 0;
	padding: 0;
}

.stageSearch {
	position: absolute;
	margin: 1px;
	top: 6px;
	left: 10px;
	padding: 10px;
	opacity: 1;
}

.stageSearch .searchIcon {
	margin-top: 6px;
	float: left;
}

.stageSearch .searchValueContainer {
	margin-top: 2px;
	float: left;
	margin-left: 5px;
	display: none;
}

.stageSearch .searchString {
	width: 500px;
}

.searchValueContainer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.searchResults {
	position: absolute;
	width: 500px;
	border: 1px solid black;
    border-top: none;
	max-height: 30vh;
	background-color: white;
	overflow: scroll;
	z-index: 2;
}

ul.searchResults li {
	list-style: none;
}

li.searchResultSet {
	padding-top: 10px;
}

li.searchResultSet li:hover {
	background-color: #dfe3ee;
	cursor: pointer;
}

.panel.panel-default.sidebar {
	list-style-type:none;
	position: absolute;
	max-width: 250px;
	opacity: 1;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
}

.panel.panel-default.sidebar a{
	text-decoration: none;
	border: none;
}

.panel-heading{
	font-size: 14px;
	font-weight: bold;
	padding-left: 1px;
}

.panel .subpanel {
	background-color: white;
}

.panel .subpanel ul{
	list-style-type: none;
	font-size: 12px;
}

.panel .subpanel li{
	margin: 0 0 3px 0;
}

.subheading {
	font-size: 12px;
	font-weight: bold;
}

.menulist {
	padding: 6px;
}

#modelmenu li {
	margin: 0 0 3px 0;
}

.panelbutton {
	width: 100%;
	border-radius: 10px;
	border-style: solid;
    background-color: white;
	font-weight: bold;
}

.panelbutton:disabled {
		background-color: #3b5998;
		color: white;
		opacity: 0.15;
	}
	
.panelbutton:hover {
	background-color: #3b5998;
	color: white;
} 

.panelbutton:active {
	background-color: #aaaaaa;
} 

#activeTaskPanel, #activeTaskTray {
	position: fixed;
	width: 100%;
	padding: 5px;
	text-align: center;
	z-index: 100;
}

#activeTaskTray {
	bottom: 0;
	height: 30px;
	background-color: #627AAC;
	opacity: 0.8;
}

#activeTaskTray:hover {
	opacity: 1;
	cursor: pointer;
}

#activeTaskPanel {
	bottom: 30px;
	height: 30px;
	display: none;
	background-color: #D3D3D3;
}

.blink {
	color: white;
	animation: blinker 1s linear infinite;
}

.disabled {
	
}
@keyframes blinker {
	50% { opacity: 0.0; }
}

.context-menu {
  display: block;
  position: absolute;
  z-index: 101;
  background-color: #fff;
  padding: 12px 0;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
}

.context-menu_items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu_item {
  display: block;
  margin-bottom: 4px;
	
}

.context-menu_link {
  display: block;
  padding: 4px 12px;
  color: #0066aa;
  text-decoration: none;
}

.context-menu_item:last-child {
  margin-bottom: 0;
}
