
html, body, iframe {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	font-family: sans-serif;
}

#addModelButton {
	position: absolute;
	top: 15px;
	left: 57px;
	margin: 5px;
	width:25px;
	height:25px;
	border-radius:250px;
	font-size:20px;
	color:#fff;
	line-height:22px;
	text-align:center;
	background:#3b5998;
	opacity: .8;
}

#addModelButton:hover {
	opacity: 1;
	cursor: pointer;
}

.popover-title {
	font-size: 18px;
}

.popover-content ul {
	margin: 0;
	padding: 0;
}

.stageSearch {
	position: absolute;
	margin: 1px;
	top: 6px;
	left: 100px;
	padding: 10px;
	opacity: 1;
}

.stageSearch .searchIcon {
	margin-top: 6px;
	float: left;
}

.stageSearch .searchValueContainer {
	margin-top: 2px;
	float: left;
	margin-left: 5px;
	display: none;
}

.stageSearch .searchString {
	width: 500px;
}

.searchValueContainer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.searchResults {
	position: absolute;
	width: 500px;
	border: 1px solid black;
    border-top: none;
	max-height: 30vh;
	background-color: white;
	overflow: scroll;
	z-index: 99;
}

ul.searchResults li {
	list-style: none;
}

li.searchResultSet {
	padding-top: 10px;
}

li.searchResultSet li:hover {
	background-color: #dfe3ee;
	cursor: pointer;
}

.panel.panel-default.sidebar {
	list-style-type:none;
	position: absolute;
	max-width: 250px;
	opacity: 1;
	background-color: whitesmoke;
}

.panel.panel-default.sidebar a{

	text-decoration: none;
	border: none;
}

.panel-heading{
	font-size: 18px;
}

.panel .subpanel ul{
	list-style-type:none;
}

.panel .subpanel {
	background-color: white;
}

#activeTaskPanel, #activeTaskTray {
	position: fixed;
	width: 100%;
	padding: 5px;
	text-align: center;
}

#activeTaskTray {
	bottom: 0;
	height: 30px;
	background-color: #627AAC;
	opacity: 0.8;
}

#activeTaskTray:hover {
	opacity: 1;
	cursor: pointer;
}

#activeTaskPanel {
	bottom: 30px;
	padding: 30px;
	display: none;
}

.modal-body {
	height: 80vh;
}