
html, body, iframe {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	font-family: 12px sans-serif;
}

.btn-default {
	position: absolute;
	margin: 5px;
	width:25px;
	height:25px;
	line-height:25px;
	font-size: 25px;
	border: hidden;
}


#addModelButton {
	top: 15px;
	left: 57px;
	width:25px;
	height:25px;
	border-radius:250px;
	color:#fff;
	text-align:center;
	background:#3b5998;
	opacity: .8;
}

#addModelButton:hover {
	opacity: 1;
	cursor: pointer;
}

.btn-default {
	position: absolute;
	top: 0;
	left: 0;
	margin: 5px;
	width: 50px;
	height: 50px;
	font-size: 25px;
	border: hidden;

}

.dropdown-menu {
	position: absolute;
	top: 60px;
	left: 5px;
}

.popover-title {
	font-size: 18px;
}

.popover-content ul {
	margin: 0;
	padding: 0;
}

.stageSearch {
	position: absolute;
	margin: 1px;
	top: 6px;
	left: 100px;
	padding: 10px;
	opacity: 1;
}

.stageSearch .searchIcon {
	margin-top: 6px;
	float: left;
}

.stageSearch .searchValueContainer {
	margin-top: 2px;
	float: left;
	margin-left: 5px;
	display: none;
}

.stageSearch .searchString {
	width: 500px;
}

.searchValueContainer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.searchResults {
	border: 1px solid black;
    border-top: none;
	max-height: 30vh;
	overflow: scroll;
}

ul.searchResults li {
	list-style: none;
}

li.searchResultSet {
	padding-top: 10px;
}

li.searchResultSet li:hover {
	background-color: #dfe3ee;
	cursor: pointer;
}

.panel.panel-default.sidebar {
	list-style-type:none;
	position: absolute;
	max-width: 250px;
	opacity: 1;
	background-color: whitesmoke;
}

.panel.panel-default.sidebar a{

	text-decoration: none;
	border: none;
}

.panel-heading{
	font-size: 18px;
}

.panel .subpanel ul{
	list-style-type:none;
}

.key ul.hiddenLinkKeys li {
	background-color: #D0D0D0;
	opacity: .5;
}

.panel .subpanel {
	background-color: white;
}


.nodeInfoPanel {
	position: absolute;
	top: 450px;
	right: 5px;
	max-width: 250px;
	opacity: 1;
}
