path.link {
  fill: none;
  stroke: #A8A8A8;
  stroke-width: 1.5px;
}

.node {
	cursor: move;
	stroke: none;
	stroke-width: 1.5px;
}

.node .text {
	fill: #000;
    font-size: 20px;
    pointer-events: none;
}

.textBackgroundColor {
	fill: white;
	opacity: .7;
}