path.link {
  fill: #666;
  stroke: #666;
  stroke-width: 1.5px;
}

.node {
	cursor: move;
	stroke: none;
	stroke-width: 1.5px;
}

.node text {
	fill: #000;
    font-size: 20px;
    pointer-events: none;
}

.node text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}

#stage svg {
	overflow: hidden;
}

.hull {
  stroke-width: 32px;
  stroke-linejoin: round;
}