html, body, iframe {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 12px sans-serif;
}

.addModelButton {
	position: absolute;
	top: 0;
	left: 0;
	margin: 5px;
	width:50px;
	height:50px;
	border-radius:250px;
	font-size:20px;
	color:#fff;
	line-height:50px;
	text-align:center;
	background:#3b5998;
	opacity: .8;
}

.addModelButton:hover {
	opacity: 1;
	cursor: pointer;
}

ul.flyoutMenu {
	position: relative;
	display: inline-block;
	margin: 10px;
	padding: 0;
	border: 1px solid black;
}

ul.flyoutMenu:after {
	content: '';
	position: absolute;
	left: 40%;
	top: -10px;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 10px solid #444;
}

ul.flyoutMenu li {				
	list-style: none;
	padding: 5px 10px;
	border-bottom: 1px solid black;
}

ul.flyoutMenu li:hover {
	background-color: #DFE3EE;
	cursor: pointer;
}

ul.flyoutMenu li:last-child {
	border: none;
}