path.link {
  fill: none;
  stroke: #E0E0E0;
  stroke-width: 1.5px;
}

circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  fill: #000;
  pointer-events: none;
}

.textBackgroundColor {
	fill: white;
	opacity: .7;
}