html, body, iframe {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

iframe {
	display: block;
}

.menuBox {
	position: fixed;
	top: 0;
	border: 1px solid grey;
	padding: 10px;
	margin: 10px;
	opacity: .2;
}

.menuBox:hover {
	opacity: 1;
}

.menuBox ul {
	padding: 0;
	margin: 0 0 0 20px;
	list-style: none;
	font-size: 20px;
}

.menuBox.legendContainer {
	right: 0;
}

.legend li { 
	padding-left: 1em; 
	text-indent: -.7em;
}

.legend li:before {
	content: "• ";
	font-size: 25px;
}

.graphTypes li {
	border: 1px solid grey;
	margin-top: 10px;
	padding: 10px;
}

.graphTypes li:hover {
	cursor: pointer;
	background-color: #8b9dc3;
}

.graphTypes li.selected {
	background-color: #dfe3ee;
}

.graphFrame {
	display: none; // Hide the frames by default
}